/* mobile :*/
@media only screen and ( max-width :46.1875em) {
 
}

/* table*/
@media only screen and (min-width:46.25em) and (max-width:63.9375em){

}
/*pc*/
@media only screen and (min-width: 64em){

}

/* mobile and tablet */
@media only screen and (max-width:63.9375em){
    
}